{{extend 'layout.html'}}
<h2>Contact Management</h2>
<br/>
<br/>
<h3>Import/Export CSV</h3>
{{=import_csv}}
{{=export_csv}}
<br/>
<br/>
<h3>Current Contact</h3>
<div class="span2 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav affix-top">
          {{for group in groups:}}
            <li><a href="javascript:void()" onclick="loadCRUDGrid('{{=group.name}}')"><i class="icon-chevron-right"></i> {{=group.name}} </a></li>
          {{pass}}
        </ul>
</div>
<div class="span9">
    <table id ="contact_table" class="hide table table-striped">
    <thead>
         <tr>
         	<th>#</th>
         	<th>Name</th>
         	<th>Phone Number</th>
         	<th>Day of birth</th>
         	<th>Group</th>
         	<th>Action</th>
         </tr>
    </thead>
    <tbody id="contact_table_body">
        
    </tbody>
    </table>
</div>
